#header{
    background: black;
    color: #gray;
    padding: 1% 1% 0.2% 0%;
}
#header2{
    padding:1%;
}
#body{
    background: #444;
    color: white;
}
#main{
    background: #444;
}
#diary{
    float: right;
    background: gray;
    height: 550px;
    width:  250px;
}
#landscape{
    float: center;
    background: black;
    height: 550px;
}
#sky{
    height: 150px;
    background: black;
}
#back{
    height: 250px;
    background: black;
}
#ground{
    height: 150px;
    background: black;
}
